.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    justify-content: space-between; /* Espacio entre contenido arriba y abajo */
    align-items: center; /* Centra horizontalmente */
    padding: 20px; /* Espacio de relleno ajustable según necesites */
    box-sizing: border-box; /* Para incluir el padding en el tamaño total */
    color: white;
    background-color: black;
  }

  .title-up{
    margin-top: 50px;
  }


/* Estilo para el texto superior */
.texto-arriba {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Espacio superior */
  }
  
  /* Estilo para la zona de redes sociales (contenido-redes) */
  .contenido-redes {
    margin-bottom: 400px; /* Espacio inferior */

  }

  
body, h1, h2, h5, p, div {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: large;
  }

.title-up{
    padding-bottom: 50px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
}


.social-icon {
    width: 19px; /* Ajusta el ancho  */
    height: auto; /* Altura automática para mantener la proporción */
}

.contenido-redes{
    padding-top: 80px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  