<div class="main-container">

    <div class="contenido-letras">
        <h3 class="title-up">
            Apps de Sorteos más Usadas
        </h3>
        <h5>
            Aplicaciones para realizar sorteos online y hacer crecer tu marca. ¡Pruébalo ahora!
        </h5>
    </div>
    <div class="contenido-redes">
        <div class="cards">
            <div class="card red">
                <img src="assets/images/usadas/instagram.png" alt="Social Media Icons" class="social-icon">
                <p class="tip">Instagram</p>
                <p class="second-text">Escoge el comentario 
                    ganador
                    de Instagram</p>
            </div>
            <div class="card blue" >
                <img src="assets/images/usadas/facebook.png" alt="Social Media Icons" class="social-icon">
                <p class="tip">Facebook</p>
                <p class="second-text">Un like y ya participan</p>
            </div>
            <div class="card green"> 
                <img src="assets/images/usadas/italico.png" alt="Social Media Icons" class="social-icon">
                <p class="tip">Lista</p>
                <p class="second-text">Ingresa los concursante</p>
            </div>
        </div>        
    </div>
</div>
