<!-- <app-navbar *ngIf="mostrarNavbar"></app-navbar>  -->
<!-- <app-pagina-antigua></app-pagina-antigua> -->
<!-- <app-funcionamiento [mostrarNavbar]="false" ></app-funcionamiento>  -->
<!-- <app-sorteo-instagram></app-sorteo-instagram> -->
<!-- <app-testimonios></app-testimonios> -->
<!-- <app-nosotros></app-nosotros> -->
<!-- <app-contactos></app-contactos> -->
<!-- <app-pagina-antigua></app-pagina-antigua>  -->
<!-- <app-usadas></app-usadas> -->

<app-sorteos></app-sorteos>
<app-mis-sorteos></app-mis-sorteos>
<app-historial></app-historial>
