<app-navbar></app-navbar>
<div class="main-container">
  <div class="content">
    <div class="text-content">
      <h1>¡Crea los mejores sorteos a través de tus redes sociales favoritas!</h1>
      <p>Da el primer paso para regalar al mundo!</p>
      <button (click)="createRaffle()">Crear Sorteo</button>
    </div>
    <div class="image-content">
      <img src="assets/images/redes sociales.png" alt="Social Media Icons">
    </div>
  </div>
  <footer class="footer">
    <div class="footer-brands">
      <p>Más de 20M de marcas e influencers confían en LuckyApp para llevar a cabo sus sorteos y promociones en línea.</p>
      <div class="brand-icons">
        <img src="assets/images/marca1.png" alt="Brand 1">
        <img src="assets/images/marca2.png" alt="Brand 2">
        <img src="assets/images/marca3.png" alt="Brand 3">
      </div>
    </div>
    <div class="footer-testimonials">
      <h2>Comentarios de nuestros fans</h2>
      <div class="testimonial">
        <img src="assets/images/fan.png" alt="Fan Image">
        <p>"La más completa en el mercado, me ha ayudado a minimizar mi tiempo en mis sorteos y mis seguidores me aman"</p>
      </div>
    </div>
  </footer>
</div>
