<div class="login-container">
  <div class="login-card">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="GiveAway Logo" class="logo">
      <span class="brand-name">App Sorteos</span>
    </a>
    <p>A un paso de que tus clientes te amen</p>
    <p>Conéctate con tu red social</p>
    <div class="login-button">
      <a href="https://www.facebook.com/login" target="_blank">
        <button class="btn fb-btn">
          <img src="assets/images/facebook.png" alt="Facebook Logo" class="facebook">Continuar con Facebook
        </button>
      </a>
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <button class="btn ig-btn">
          <img src="assets/images/instagram.png" alt="Instagram Logo" class="instagram">Continuar con Instagram
        </button>
      </a>
    </div>
  </div>
</div>
